/.gradle
/.idea
/build
/modules
/bundles
/deps
*.iml
*.hprof
*.log
korge.keystore
local.properties
src/main/*
.DS_Store

.github/workflows/gradle.yml
.github/workflows/deploy-js.yml
.editorconfig
gradle.properties
gradle/libs.versions.toml
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
